.dropzone {
  width: 100%;
  max-width: 600px;
  border: 0.1rem dashed var(--gray-2);
  background-color: var(--gray-1);
  border-radius: 0.5rem;
  padding: 3rem;
  text-align: center;
  transition: var(--steady);
  margin-bottom: 1rem;
  cursor: pointer;
}
.dropzone p {
  margin: 0;
  color: var(--gray-3);
}
.dropzone.active {
  background-color: var(--gray-2);
}
.file-input {
  display: none;
}
.settings {
  width: 100%;
  max-width: 600px;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-2);
}
.settings label {
  display: block;
  font-weight: var(--light);
}
.settings label:nth-of-type(2) {
  margin-top: 1rem;
}
.settings select,
.settings input:not([type='checkbox']) {
  width: 100%;
}
.settings select {
  padding: 0.5rem;
  margin: 0.5rem 0 1rem 0;
  font-size: var(--microcopy);
}
.settings input[type='range'] {
  -webkit-appearance: sliderthumb-horizontal;
  appearance: none;
  border: none;
  margin-top: 1rem;
  background-color: var(--gray-2);
  height: 1rem;
  padding: 0;
}
.settings input[type='range']::-moz-range-thumb {
  appearance: none;
  width: 1rem;
  height: 2rem;
  border-radius: var(--radius-1);
  background-color: var(--gray-3);
  box-shadow: 0 0.3rem 0.5rem var(--shadow-1);
  border: none;
  cursor: pointer;
}
.settings input[type='range']::-moz-range-progress {
  background-color: var(--gray-4);
  width: 100%;
  height: 100%;
  border-radius: var(--radius-3);
}
.settings span {
  font-size: var(--microcopy);
  font-weight: var(--light);
  margin-top: 0.5rem;
}
.settings .checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.settings .checkbox-container input {
  width: auto;
}
.settings .checkbox-container label {
  font-weight: var(--light);
  font-size: var(--microcopy);
  cursor: pointer;
}
.progress-container {
  width: 100%;
  max-width: 600px;
  background-color: var(--gray-1);
  border-radius: 0.5rem;
  margin: 1rem 0;
  display: none;
}
.progress-bar {
  height: 0.5rem;
  background-color: var(--gray-3);
  border-radius: 0.5rem;
  width: 0%;
  transition: width 0.3s ease;
}
.result {
  display: none;
  margin-top: 1rem;
  text-align: center;
}
.file-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background-color: var(--white);
  border: 1px solid var(--gray-2);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.file-info div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.file-info strong {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: var(--semi-bold);
}
.log {
  background-color: var(--white);
  border: 1px solid var(--gray-2);
  border-radius: 0.5rem;
  padding: 0.5rem;
  height: 200px;
  overflow-y: auto;
  margin-top: 1rem;
  font-family: monospace;
  font-size: var(--microcopy);
  display: none;
}
