main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* BACK BUTTON */
#back {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.7rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  font-weight: var(--light);
  background-color: var(--gray-1);
  color: var(--gray-5);
  border-radius: 1rem;
  z-index: 2;
  text-decoration: none;
  transition: var(--steady);
}

#back:hover {
  background-color: var(--gray-2);
}
h1 {
  font-size: var(--title);
  font-weight: var(--bold);
  text-align: center;
}
main p {
  font-size: var(--paragraph);
  font-weight: var(--light);
  color: var(--gray-5);
  text-align: center;
  margin-bottom: 2rem;
}
ul {
  max-width: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
ul a {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 1rem;
  font-size: 1rem;
  text-align: center;
  font-weight: var(--light);
  color: var(--gray-5) !important;
  text-decoration: none !important;
  box-shadow: 0 0.5rem 1rem var(--shadow-1);
  transition: var(--steady);
}
ul a i {
  font-size: 2rem !important;
  color: var(--gray-3) !important;
  transition: var(--steady);
}
ul a:hover {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.8rem 1rem var(--shadow-1);
  color: var(--black) !important;
}
ul a:hover i {
  color: var(--black) !important;
}
input[type='text'] {
  min-width: 480px;
  width: 50%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0.3rem 1rem var(--shadow-1);
}
button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 0.5rem 1rem var(--shadow-2);
}
button:hover {
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 1rem var(--shadow-1);
}
button:disabled {
  background-color: var(--gray-3);
  color: var(--gray-5);
  cursor: not-allowed;
  box-shadow: none;
}
button:disabled:hover {
  transform: none;
  box-shadow: none;
}

@media (max-width: 500px) {
  #back {
    display: none;
  }
  h1 {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  input[type='text'] {
    min-width: 100%;
  }
  ul {
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 0;
  }
  ul a {
    width: 100%;
    height: auto;
    flex-direction: row;
    padding: 0.7rem 1rem;
  }
  ul a i {
    font-size: 1.5rem !important;
  }
}