#welcome,
#clients,
#pricing,
#faq,
#contact {
  position: relative;
  z-index: 1;
  margin-bottom: 4rem;
  padding: 0 1rem;
}

#welcome h1,
#clients h1,
#pricing h1,
#faq h1,
#contact h1 {
  text-align: center;
}

/* LOGO */
.logo {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
  border: 2px solid var(--black);
}

.logo h4 {
  font-size: 1.3rem;
  font-weight: var(--font-weight-light);
  letter-spacing: 0.01rem;
  color: var(--black);
}

/* NAV */
nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--red);
  padding: 0 15%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 2;
  gap: 10px;
}

nav h3 {
  font-size: 1.5rem;
  font-weight: var(--font-weight-bolder);
  color: var(--white);
}

nav p {
  font-size: 1.3rem;
  font-weight: var(--font-weight-light);
  color: var(--white);
}

/* WELCOME */
#welcome {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
  overflow: hidden;
}

#welcome h1 {
  width: 50%;
  color: var(--black);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  text-align: center;
  z-index: 2;
}

#welcome p {
  width: 65%;
  color: var(--black);
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-light);
  text-align: center;
  z-index: 2;
}

#welcome .links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 2;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

#welcome button {
  width: 100px;
  height: 40px;
  color: var(--white);
  background: linear-gradient(90deg, orange, red, violet, purple, var(--blue), orange);
  background-size: 400%;
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-regular);
  z-index: 1;
  position: relative;
  animation: animate 8s linear infinite;
}

#welcome button:before {
  width: 100px;
  height: 40px;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 40px;
  background: linear-gradient(45deg, orange, red, violet, purple, var(--blue), orange);
  background-size: 100%;
  filter: blur(7px);
  animation: animate 8s linear infinite;
}

#welcome a {
  font-size: var(--font-size-text);
  font-weight: var(--font-weight);
  font-weight: var(--font-weight-light);
  z-index: 2;
}

#welcome .welcome-image {
  width: 50rem;
  max-width: 98%;
  height: 25rem;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

/* PRICING */
#pricing {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#pricing h1 {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  margin-top: 2rem;
}

#pricing p {
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-light);
  margin-top: 0.7rem;
  color: var(--dark-gray);
}

.pricing-cards {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  width: 800px;
  height: 400px;
  border-radius: 1rem;
  background-color: var(--white);
  border: 1px solid rgba(224, 224, 224, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  transition: var(--transition);
}

.card-left,
.card-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding: 3rem 1.5rem;
}

#simple-website,
#online-store,
#personalized-software {
  padding: 0;
}

.card h2 {
  font-size: var(--font-size-faq);
  font-weight: var(--font-weight-semibold);
  color: var(--black);
}

.card li {
  line-height: 2rem;
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-light);
  color: var(--grayish);
}

.card h3 {
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-regular);
  color: var(--black);
}

.card button {
  width: 100%;
  height: 40px;
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-text);
  background-color: var(--blue);
  padding: 0 1rem;
  border-radius: 0.5rem;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

#simple-website img,
#personalized-software img {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#online-store img {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

#simple-website img {
  object-position: 45.5%;
}

/* CLIENTS */
#clients {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

#clients h1 {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  margin-top: 2rem;
  text-align: center;
}

#clients p {
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-light);
  margin-top: 0.7rem;
  color: var(--dark-gray);
  text-align: center;
  padding: 0 1rem;
}

.swiper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
}

.swiper-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.swiper-slide {
  width: 350px;
  height: 300px;
  background-color: var(--lighter-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.7rem;
  position: relative;
  transition: var(--transition);
}

.swiper-slide:hover {
  box-shadow: inset 0 0 1rem var(--light-shadow);
}

.swiper-slide a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: absolute;
}

.swiper-slide img {
  width: 70%;
  object-fit: cover;
  cursor: pointer;
}

.swiper-pagination {
  transform: translateY(0.5rem);
}

.swiper-pagination-bullet {
  background-color: var(--gray);
}

.swiper-pagination-bullet-active {
  background-color: var(--blue);
}

.swiper-button-prev,
.swiper-button-next {
  width: 3rem !important;
  height: 3rem !important;
  background-color: var(--shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: var(--white);
  font-size: 1.5rem !important;
}

.swiper-button-prev::after {
  transform: translateX(-2px);
}

.swiper-button-next::after {
  transform: translateX(2px);
}

/* FAQ */
#faq {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#faq h1 {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  margin-top: 2rem;
  text-align: center;
}

#faq > p {
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-light);
  margin-top: 0.7rem;
  color: var(--dark-gray);
  text-align: center;
}

.faq-container {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100%;
  max-width: 700px;
  overflow: hidden;
  padding: 2rem;
  cursor: pointer;
  border-top: 1px solid var(--light-gray);
  transition: var(--transition);
}

.box:last-of-type {
  border-bottom: 1px solid var(--light-gray);
}

.box-title {
  font-size: var(--font-size-faq);
  font-weight: var(--font-weight-regular);
  color: var(--black);
}

.box-description {
  display: none;
  margin-top: 1rem;
  transition: display 0.3s ease-in-out;
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-light);
}

.box.expanded .box-description {
  display: block;
}

.box.expanded {
  background-color: var(--lighter-gray);
  border: 1px solid var(--light-gray);
  border-radius: 1rem;
}

/* CONTACT */
#contact {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#contact h1 {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

#contact p {
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-light);
  text-align: center;
  margin-top: 0.7rem;
  color: var(--dark-gray);
}

#contact .contact-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

#contact .contact-box a {
  font-size: var(--font-size-email);
  font-weight: var(--font-weight-light);
  color: var(--black);
  background-color: var(--white);
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-decoration: none;
  transition: var(--transition);
  position: relative;
}

#contact .contact-box a i {
  font-size: var(--font-size-email);
  position: absolute;
  color: var(--black);
  right: 2rem;
  bottom: 0rem;
  transform: translate(-50%, 50%);
}

#contact .contact-box a:hover {
  background-color: var(--light-gray);
}

/* DISCLAIMER */
#disclaimer {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--light-gray);
}

#disclaimer p {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
  color: var(--dark-gray);
}

#disclaimer p a {
  color: var(--dark-gray);
  text-decoration: underline;
}

/* MEDIA QUERIES */

@media (width < 1600px) {
  .swiper-slide {
    height: 250px;
  }
}

@media (width < 800px) {
  nav {
    padding: 0 5%;
    gap: 5px;
  }
  nav h3 {
    font-size: 1.1rem;
  }
  nav p {
    font-size: 1.1rem;
  }

  #welcome h1 {
    width: 95%;
    font-size: 3rem;
  }
  #welcome p {
    font-size: 1.2rem;
  }
  #welcome .links {
    flex-direction: column;
    gap: 1rem;
  }
  #welcome button {
    width: 100px;
    height: 40px;
    font-size: 1rem;
  }
  #welcome .welcome-image {
    width: 100%;
    height: 20rem;
  }
  #pricing {
    padding: 0 1rem;
  }
  #pricing h1 {
    width: 95%;
    font-size: 3rem;
  }
  #pricing p {
    font-size: 1rem;
  }
  .card {
    width: 100%;
    max-width: 600px;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    position: relative;
    border: 1px solid var(--light-gray);
  }
  .card-left,
  .card-right {
    width: 100%;
    padding: 1.5rem 1rem;
    z-index: 2;
  }
  #simple-website,
  #online-store,
  #personalized-software {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    z-index: 1;
  }
  .card h2 {
    font-size: 1.5rem;
  }
  .card li {
    padding: 0.5rem 0 1rem 0;
    font-size: 1rem;
  }
  .card h3 {
    font-size: 1.3rem;
    font-weight: var(--font-weight-semibold);
  }
  .card button {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    border-radius: 0.5rem;
  }
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    filter: blur(0.3rem);
    opacity: 0.1;
  }
  #clients h1 {
    width: 95%;
    font-size: 3rem;
  }
  #clients p {
    font-size: 1rem;
  }
  .swiper {
    padding: 2rem 3rem;
  }
  .swiper-slide {
    width: 100%;
    height: 300px;
  }
  .swiper-slide img {
    width: 60%;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 2rem !important;
    height: 2rem !important;
    top: 50% !important;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 1rem !important;
  }
  #faq h1 {
    width: 95%;
    font-size: 3rem;
  }
  #faq p {
    font-size: 1rem;
  }
  .faq-container {
    max-width: 550px;
    flex-direction: column;
  }
  .box {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
  }
  .box-title {
    font-size: 1.1rem;
  }
  .box-description {
    font-size: 1rem;
  }
  #contact h1 {
    width: 95%;
    font-size: 3rem;
  }
  #contact p {
    font-size: 1rem;
  }
  #contact .contact-box {
    flex-direction: column;
    gap: 1rem;
  }
  #contact .contact-box a {
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
  }
  #contact .contact-box a i {
    font-size: 1.8rem;
  }
}

@media (width < 600px) {
  nav {
    padding: 0 5%;
    gap: 5px;
    height: 40px;
  }
  nav h3 {
    font-size: 1rem;
  }
  nav p {
    font-size: 1rem;
  }
  nav p:last-child {
    display: none;
  }
  .swiper-slide {
    height: 200px;
  }
  .swiper-slide img {
    width: 70%;
  }
  #contact .contact-box a {
    font-size: 1.3rem;
    padding: 0.7rem 1.2rem;
    border-radius: 0.5rem;
  }
  #contact .contact-box a i {
    font-size: 1.3rem;
  }
  #disclaimer p {
    font-size: 0.8rem;
  }
}
