@import './fontface.css';
:root {
  --white: #fff;
  --whitesmoke: #f5f5f5;
  --black: #1d1d1f;
  --gray: #b4b4b4;
  --lighter-gray: #eaeaea;
  --light-gray: #dedede;
  --dark-gray: #434343;
  --green: #288d52;
  --red: #be3939;
  --yellow: #f5c518;
  --orange: #fc6e51;
  --blue: #0071e3;
  --transparent-blue: #0071e34b;
  --light-blue: #00a0e3;
  --purple: #ac92ec;
  --font-family: 'SFPro', sans-serif;
  --font-size-title: 4rem;
  --font-size-subtitle: 1.3rem;
  --font-size-text: 1.1rem;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 600;
  --font-weight-bolder: 700;
  --border-radius-button: 10rem;
  --border-radius-input: 0.7rem;
  --transition: 0.3s;
  --loading-transition: 1s;
  --slow-transition: 0.5s;
  --line-height: 1.3;
  --letter-spacing: 0.022em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DEFAULTS */

body {
  background-color: var(--whitesmoke);
  scroll-behavior: smooth;
  font-family: var(--font-family);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--black);
}

button {
  border-radius: var(--border-radius-button);
  outline: none;
  border: none;
  cursor: pointer;
  transition: var(--transition);
  color: var(--white);
  background-color: var(--black);
  font-family: var(--font-family);
  font-weight: var(--font-weight-light);
}

del {
  text-decoration: line-through;
  color: var(--red);
}

a,
a:visited {
  text-decoration: none;
  color: #06c;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

ul {
  list-style: none;
}

input {
  outline: none;
  border: 1px solid rgba(224, 224, 224, 0.5);
  border-radius: var(--border-radius-input);
  font-weight: var(--font-weight-regular);
  padding: 0 1rem;
  font-family: var(--font-family);
  transition: var(--transition);
}

input:focus-visible {
  transition: var(--transition);
  box-shadow: 0 0 0 0.1rem var(--transparent-blue);
}

textarea {
  outline: none;
  border: 1px solid rgba(224, 224, 224, 0.5);
  border-radius: var(--border-radius-input);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family);
  transition: var(--transition);
}

textarea:focus-visible {
  transition: var(--transition);
  box-shadow: 0 0 0 0.1rem var(--transparent-blue);
}

#loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
  transition: var(--loading-transition);
}

#loading-circle {
  border: 8px solid var(--light-gray); /* Light grey */
  border-top: 8px solid var(--dark-gray); /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: auto;
  z-index: 3;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#cookies {
  width: auto;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: fixed;
  bottom: -6rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  transition: var(--transition);
}

#cookies p {
  width: 500px;
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-light);
  color: var(--black);
}

#cookies button {
  min-width: 100px;
  height: 40px;
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-light);
  color: var(--white);
  background-color: var(--blue);
}

#welcome,
#clients,
#pricing,
#faq,
#contact {
  position: relative;
  z-index: 1;
  margin-bottom: 4rem;
  padding: 0 1rem;
}

#welcome h1,
#clients h1,
#pricing h1,
#faq h1,
#contact h1 {
  text-align: center;
}

/* TRANSLATION BUTTONS */
.translate {
  position: absolute;
  width: 225px;
  height: 55px;
  border-radius: 10px;
  padding-right: 1.5rem;
  background-color: var(--light-gray);
  top: 0;
  right: -11.2rem;
  transform: translate(0, 0);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  z-index: 3;
  transition-duration: 0.3s;
}

.translate img {
  width: 40px;
  height: 40px;
  background-color: var(--black);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.translate img:hover {
  box-shadow: 0 0 0rem 2px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.translate i {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translate(0, -50%);
  font-size: 1.1rem;
  color: var(--dark-gray);
  padding: 0.5rem;
}

.translate #closeTranslate {
  display: none;  
}

.translate #openTranslate {
  display: block;
}

/* LOGO */
.logo {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
  border: 2px solid var(--black);
}

.logo h4 {
  font-size: 1.3rem;
  font-weight: var(--font-weight-light);
  letter-spacing: 0.01rem;
  color: var(--black);
}

/* NAV */
nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--red);
  padding: 0 15%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 2;
  gap: 10px;
}

nav h3 {
  font-size: 1.5rem;
  font-weight: var(--font-weight-bolder);
  color: var(--white);
}

nav p {
  font-size: 1.3rem;
  font-weight: var(--font-weight-light);
  color: var(--white);
}

/* WELCOME */
#welcome {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
  overflow: hidden;
}

#welcome h1 {
  width: 50%;
  color: var(--black);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  text-align: center;
  z-index: 2;
}

#welcome p {
  width: 65%;
  color: var(--black);
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-light);
  text-align: center;
  z-index: 2;
}

#welcome .links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 2;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

#welcome button {
  width: 100px;
  height: 40px;
  color: var(--white);
  background: linear-gradient(90deg, orange, red, violet, purple, var(--blue), orange);
  background-size: 400%;
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-regular);
  z-index: 1;
  position: relative;
  animation: animate 8s linear infinite;
}

#welcome button:before {
  width: 100px;
  height: 40px;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 40px;
  background: linear-gradient(45deg, orange, red, violet, purple, var(--blue), orange);
  background-size: 100%;
  filter: blur(7px);
  animation: animate 8s linear infinite;
}

#welcome a {
  font-size: var(--font-size-text);
  font-weight: var(--font-weight);
  font-weight: var(--font-weight-light);
  z-index: 2;
}

#welcome .welcome-image {
  width: 50rem;
  max-width: 98%;
  height: 25rem;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

/* PRICING */
#pricing {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#pricing h1 {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  margin-top: 2rem;
}

#pricing p {
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-light);
  margin-top: 0.7rem;
  color: var(--dark-gray);
}

.pricing-cards {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  width: 800px;
  height: 450px;
  border-radius: 1rem;
  background-color: var(--white);
  border: 1px solid rgba(224, 224, 224, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  transition: var(--transition);
}

.card-left,
.card-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-left {
  justify-content: space-between;
  padding: 2rem 0;
}

.card h2 {
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-semibold);
  text-align: center;
  color: var(--black);
}

.card li {
  text-align: center;
  line-height: 2rem;
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-light);
  padding: 0 2rem;
}

.card h3 {
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-regular);
  text-align: center;
  color: var(--black);
}

.card button {
  width: 130px;
  height: 40px;
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-text);
  background-color: var(--blue);
}

.card img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 1rem;
  z-index: 1;
}

#simple-website img {
  object-position: 45.5%;
}

#quote-website img {
  object-position: 46%;
}

/* CLIENTS */
#clients {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#clients h1 {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  margin-top: 2rem;
  text-align: center;
}

#clients p {
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-light);
  margin-top: 0.7rem;
  color: var(--dark-gray);
  text-align: center;
}

#clients .websites {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
  overflow: auto;
}

.websites .website {
  width: 350px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  background-color: var(--lighter-gray);
}

.websites .website a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-light);
  color: var(--white);
  z-index: 2;
  bottom: 0;
  position: absolute;
}

.websites .website img {
  width: 70%;
  object-fit: cover;
  z-index: 1;
  transition: var(--transition);
}

.websites .website:hover img {
  transition: var(--transition);
  transform: scale(1.03);
  filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.3));
}

/* FAQ */
#faq {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#faq h1 {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  margin-top: 2rem;
  text-align: center;
}

#faq > p {
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-light);
  margin-top: 0.7rem;
  color: var(--dark-gray);
  text-align: center;
}

.faq-container {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 0 2rem;
}

.left-container,
.right-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.left-container {
  align-items: flex-end;
}

.right-container {
  align-items: flex-start;
}

.box {
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.box-title {
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-semibold);
  color: var(--black);
}

.box-description {
  display: none;
  margin-top: 1rem;
  transition: display 0.3s ease-in-out;
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-light);
}

.box.expanded .box-description {
  display: block;
}

/* CONTACT */
#contact {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#contact h1 {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

#contact p {
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-light);
  text-align: center;
  margin-top: 0.7rem;
  color: var(--dark-gray);
}

#contact form {
  width: 500px;
  max-width: 500px;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact form input {
  width: 100%;
  height: 50px;
  border-radius: var(--border-radius-input);
  padding: 0 1rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

#contact form textarea {
  width: 100%;
  height: 150px;
  border-radius: var(--border-radius-input);
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  resize: none;
}

#contact form button {
  width: 130px;
  height: 40px;
  font-size: 1.1rem;
  background-color: var(--blue);
}

/* FOOTER */
footer {
  width: 100%;
  height: 50px;
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

footer p {
  font-size: 1.1rem;
  font-weight: var(--font-weight-light);
  text-align: center;
  color: var(--white);
}

/* MEDIA QUERIES */

@media (width < 1200px) {
}

@media (width < 1100px) and (height < 700px) {
}

@media (width < 800px) {
  nav {
    padding: 0 5%;
    gap: 5px;
  }
  nav h3 {
    font-size: 1.1rem;
  }
  nav p {
    font-size: 1.1rem;
  }

  #cookies {
    width: 93%;
    min-height: 40px;
    height: auto;
    padding: 1rem 1rem;
    gap: 1.5rem;
  }

  #cookies p {
    font-size: 0.9rem;
  }

  #cookies button {
    min-width: 100px;
    height: 30px;
    font-size: 0.9rem;
  }

  #welcome h1 {
    width: 95%;
    font-size: 3rem;
  }
  #welcome p {
    font-size: 1rem;
  }
  #welcome .links {
    flex-direction: column;
    gap: 1rem;
  }
  #welcome button {
    width: 100px;
    height: 40px;
    font-size: 1rem;
  }
  #welcome .welcome-image {
    width: 100%;
    height: 20rem;
  }
  #pricing {
    padding: 0 1rem;
  }
  #pricing h1 {
    width: 95%;
    font-size: 3rem;
  }
  #pricing p {
    font-size: 1rem;
  }
  .card {
    width: 100%;
    max-width: 500px;
    min-height: 400px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    position: relative;
  }
  .card-left,
  .card-right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .card-left {
    padding: 1rem 0;
    z-index: 2;
  }

  .card-right {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .card h2 {
    font-size: 1.5rem;
  }
  .card li {
    font-size: 1rem;
  }
  .card h3 {
    font-size: 1.3rem;
  }
  .card button {
    width: 100px;
    height: 40px;
    font-size: 1rem;
  }
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    opacity: 0.1;
    z-index: 1;
  }
  #clients h1 {
    width: 95%;
    font-size: 3rem;
  }
  #clients p {
    font-size: 1rem;
  }
  .websites .website {
    width: 250px;
    height: 150px;
  }
  .websites .website a {
    font-size: 1rem;
  }
  .websites .website img {
    width: 100;
  }
  #faq h1 {
    width: 95%;
    font-size: 3rem;
  }
  #faq p {
    font-size: 1rem;
  }
  .faq-container {
    max-width: 550px;
    flex-direction: column;
  }
  .left-container,
  .right-container {
    width: 100%;
    align-items: center;
  }
  .box {
    width: 100%;
    max-width: 100%;
  }
  .box-title {
    font-size: 1.1rem;
  }
  .box-description {
    font-size: 1rem;
  }
  #contact h1 {
    width: 95%;
    font-size: 3rem;
  }
  #contact p {
    font-size: 1rem;
  }
  #contact form {
    width: 100%;
  }
  #contact form input {
    width: 100%;
    height: 40px;
    font-size: 1rem;
  }
  #contact form textarea {
    width: 100%;
    height: 100px;
    font-size: 1rem;
  }
  #contact form button {
    width: 100px;
    height: 40px;
    font-size: 1rem;
  }
  footer p {
    font-size: 1rem;
  }
}

@media (width < 600px) {
  nav {
    padding: 0 5%;
    gap: 5px;
    height: 40px;
  }
  nav h3 {
    font-size: 1rem;
  }
  nav p {
    font-size: 1rem;
  }
  nav p:last-child {
    display: none;
  }
  footer p {
    font-size: 0.7rem;
  }
}
