body {
  overflow-x: hidden;
}

/* home */
#menu-home {
  position: relative;
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.translate {
  top: 150px;
}

#menu-navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  background-color: var(--white);
  z-index: 3;
  border-bottom: 2px solid var(--whitesmoke);
}

#menu-navbar h3 {
  font-weight: 500;
}

#menu-navbar button {
  width: auto;
  height: auto;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: var(--blue);
}

.menu-description {
  width: 100%;
  height: 50px;
  background-color: var(--whitesmoke);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu-description p {
  font-size: 0.9rem;
  font-weight: 300;
  text-align: center;
}

/* product */
#menu-product {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background-color: var(--white);
}

#menu-product > img {
  width: 5rem;
  height: auto;
  object-fit: cover;
  margin: 3rem 0 1.5rem 0;
  border-radius: 1rem;
}

#menu-product h1 {
  font-weight: 600;
  font-size: 4rem;
  margin: 0 0 1.5rem 0;
}

#menu-product button {
  width: auto;
  height: auto;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--blue);
}

#menu-product .menu-slide {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 0 0;
}

.menu-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* details */
#menu-details {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 10rem;
}

#menu-details h1 {
  font-weight: 600;
  font-size: 3rem;
  margin: 4rem 0 2rem 0;
  text-align: center;
}

.menu-frame {
  padding: 2.5rem;
  border-radius: 1rem;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.menu-frame h4 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}

.frame-horizontal {
  width: 100%;
  height: 500px;
  flex-direction: row;
}

.frame-horizontal .frame-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.frame-horizontal .frame-right {
  width: 50%;
  height: 100%;
}

.frame-horizontal .frame-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.frame-vertical {
  width: calc(50% - 0.5rem);
  height: 500px;
  flex-direction: column;
}

.frame-vertical .frame-left {
  width: 100%;
  height: auto;
}

.frame-vertical .frame-right {
  width: 100%;
  min-height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame-vertical .frame-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

/* faq */
#menu-faq {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 10rem;
  background-color: var(--white);
}

#menu-faq h1 {
  font-weight: 600;
  font-size: 3rem;
  margin: 3rem 0;
  text-align: center;
}

.menu-faq-item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem 0;
  border-bottom: 1px solid var(--whitesmoke);
}

.menu-faq-item h4 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}

.menu-faq-item p {
  font-size: 1rem;
  font-weight: 300;
}

/* disclaimer */
#menu-disclaimer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
  background-color: var(--whitesmoke);
}

#menu-disclaimer p {
  font-size: 0.9rem;
  font-weight: 300;
  text-align: center;
}

@media (max-width: 1024px) {
  #menu-navbar {
    padding: 1rem 5rem;
  }

  #menu-details {
    padding: 2rem 5rem;
  }

  .menu-frame {
    padding: 2rem;
  }
  .menu-frame h4 {
    font-size: 1.3rem;
  }
  .menu-frame p {
    font-size: 1rem;
  }

  #menu-faq {
    padding: 2rem 5rem;
  }
}

@media (max-width: 768px) {
  #menu-navbar {
    padding: 1rem 2rem;
  }

  #menu-navbar button {
    padding: 0.4rem 1rem;
    font-size: 0.8rem;
  }

  .menu-description p {
    font-size: 0.8rem;
  }

  #menu-product h1 {
    font-size: 3rem;
    text-align: center;
  }

  #menu-product button {
    padding: 0.8rem 1.5rem;
    font-size: 0.9rem;
  }

  #menu-details {
    padding: 2rem 2rem;
  }

  .frame-horizontal {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .frame-horizontal .frame-left {
    width: 100%;
    height: 50%;
  }

  .frame-horizontal .frame-right {
    width: 100%;
    height: 300px;
  }

  .frame-vertical {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .frame-vertical .frame-left {
    width: 100%;
    height: 50%;
  }

  .frame-vertical .frame-right {
    width: 100%;
    height: 50%;
  }

  #menu-faq {
    padding: 2rem 2rem;
  }

  #menu-faq h1 {
    font-size: 2.5rem;
  }

  .menu-faq-item h4 {
    font-size: 1.3rem;
  }

  .menu-faq-item p {
    font-size: 0.9rem;
  }

  #menu-disclaimer {
    padding: 2rem 1rem;
  }

  #menu-disclaimer p {
    font-size: 0.8rem;
  }
}

@media (max-width: 425px) {
  #menu-navbar {
    padding: 1rem 1rem;
  }

  #menu-navbar button {
    padding: 0.4rem 0.8rem;
    font-size: 0.7rem;
  }

  .menu-description p {
    font-size: 0.7rem;
  }

  #menu-product h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  #menu-product button {
    padding: 0.6rem 1.2rem;
    font-size: 0.8rem;
  }

  #menu-details {
    padding: 2rem 1rem;
  }

  .menu-frame {
    padding: 1.5rem;
  }
  .menu-frame h4 {
    font-size: 1.1rem;
  }
  .menu-frame p {
    font-size: 0.9rem;
  }

  #menu-faq {
    padding: 2rem 1rem;
  }

  #menu-faq h1 {
    font-size: 2rem;
  }

  .menu-faq-item h4 {
    font-size: 1.1rem;
  }

  .menu-faq-item p {
    font-size: 0.8rem;
  }

  #menu-disclaimer {
    padding: 2rem 0.5rem;
  }

  #menu-disclaimer p {
    font-size: 0.7rem;
  }
}
